html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.background {
  background-image: url("https://secondbucketforcustompc.s3.us-east-2.amazonaws.com/GreyBackGround.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

#gh {
  background: black;
}

#gh:hover {
  background: grey;
}

span {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#caro {
  margin: auto;
}

#computer {
  margin: auto;
}

#bh {
  text-align: center;
}

.hello:hover {
  background-color: lightgray;
}

.QCAlign {
  text-align: center;
}

.thumb {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}
.thumbCard {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;

  margin-left: auto;
  margin-right: auto;
}
.flex {
  display: flex;
}

.ship {
  margin-top: 20px;
}

.mt {
  margin-top: 10px;
}

.css-tlfecz-indicatorContainer {
  display: none;
}

.lightgrey {
  background-color: rgb(245, 245, 245);
}
.darkgrey {
  background-color: rgb(232, 232, 232);
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
  border: 1px red solid;
}
.image2 {
  position: absolute;
  top: 60px;
  left: 80px;
  z-index: 1;
  border: 1px green solid;
}
.LandingImage {
  z-index: 0;
}

.parallax {
  position: relative;
  height: 100vh;
}

.absolute {
  position: relative;
  z-index: 1;
}
.relative {
  position: relative;
  height: 200px;
}

.height {
  height: 100px;
  position: relative;
  left: 100px;
}
