html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

#gh {
  background: black;
}

#gh:hover {
  background: grey;
}

span {
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#caro {
  margin: auto;
}

#computer {
  margin: auto;
}

#bh {
  text-align: center;
}

.hello:hover {
  background-color: lightgray;
}

.QCAlign {
  text-align: center;
}

.thumb {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.postalbtn {
}
